name: not_zero
publish_to: 'none'

environment:
  sdk: ^3.10.0

workspace:
  - apps/not_zero_app
  - packages/nz_actions_bus
  - packages/nz_boxes
  - packages/nz_common
  - packages/nz_drift
  - packages/nz_flutter_core
  - packages/nz_logger
  - packages/nz_base_models
  - packages/nz_lint

dev_dependencies:
  melos: ^7.1.1
  glob: ^2.1.3

melos:
  scripts:
    generate:
      run: dart run build_runner build -d
      exec:
        orderDependents: true
      packageFilters:
        dependsOn:
          - build_runner
    migrations:
      exec: dart run drift_dev -v make-migrations --no-test
      packageFilters:
        dependsOn:
          - drift_dev
    l10n:
      exec: dart run slang && dart format lib
      packageFilters:
        dependsOn:
          - slang
    fix:
      exec: dart fix --apply .
    upgrade:
      run: dart pub upgrade --major-versions
      exec:
        orderDependents: true
    test:
      exec: flutter test
      packageFilters:
        dirExists: test
