name: Analyze and check app

on:
  pull_request:
    paths-ignore:
      - '.github/workflows/license.yml'
      - '.github/workflows/release.yml'

jobs:
  check:
    name: Check application
    runs-on: ubuntu-latest
    steps:
      ### INITIAL ###
      - uses: actions/checkout@v3
      - name: Read Flutter version
        id: fvm
        run: echo "flutter_version=$(jq -r '.flutter' .fvmrc)" >> $GITHUB_OUTPUT
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ steps.fvm.outputs.flutter_version }}
          channel: stable
          cache: true
      - uses: bluefireteam/melos-action@v3
      - uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-pubcache
          path: |
            ~/.pub-cache/git
            ~/.pub-cache/hosted

      ### PREPARATION ###
      - name: Check flutter installation
        run: flutter --version
      - name: Get dependencies
        run: melos bootstrap
      - name: Generate everything needed for the build
        run: make generate

      ### ANALYSIS ###
      - name: Ensure that code is formatted correctly
        run: melos format --set-exit-if-changed --output none $(git ls-files | grep --colour=never -e ".*\.dart")
      - name: Analyze code to find critical problems
        run: melos exec flutter analyze --no-fatal-infos

      ### TESTS ###
      - name: Run tests
        run: melos run --no-select test
