name: License Check

on:
  pull_request:
  push:
    branches: [main]
    paths-ignore:
      - '.github/workflows/check.yml'

jobs:
  check-license:
    runs-on: ubuntu-latest
    steps:
      ### INITIAL ###
      - uses: actions/checkout@v3
      - name: Read Flutter version
        id: fvm
        run: echo "flutter_version=$(jq -r '.flutter' .fvmrc)" >> $GITHUB_OUTPUT
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: ${{ steps.fvm.outputs.flutter_version }}
          channel: stable
          cache: true
      - uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-pubcache
          path: |
            ~/.pub-cache/git
            ~/.pub-cache/hosted

      ### PREPARATION ###
      - name: Check dart installation
        run: flutter --version
      - name: Get dependencies
        run: flutter pub get

      ### CHECKS ###
      - name: Check License Headers
        run: dart run tools/license_manager.dart --check
