name: License Check

on:
  pull_request:
  push:
    branches: [main]

jobs:
  check-license:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-pubcache
          path: |
            ~/.pub-cache/git
            ~/.pub-cache/hosted

      ### PREPARATION ###
      - name: Check dart installation
        run: dart --version
      - name: Get dependencies
        run: dart pub get

      - name: Check License Headers
        run: dart run tools/license_manager.dart --check
